# 10:30â€“11:45 | Python-Grundlagen

## **Dein erstes Python Programm**
    
**Ziel:** Die Teilnehmenden lernen, wie man mit `print()` Text und Rechenergebnisse ausgibt.

- print â€œHello World!â€
- Operators and print results

## ðŸ§© Hello World!

In [1]:
# Schreibe dein erstes Programm!
print("Hello World!")
print("Herzlich willkommen zum Python-Kurs!")

Hello World!
Herzlich willkommen zum Python-Kurs!

### Ãœbung:

- Gib mit print() deinen Namen aus
â†’ **Beispiel:** print("Mein Name ist â€¦")

- Gib mit print() einen kurzen Satz aus, der deinen ersten Eindruck von Deep Learning beschreibt
â†’ **Beispiel:**
print("Deep Learning klingt spannend, aber auch ein bisschen komplex.")

## ðŸ§© Operatoren ausprobieren

In [2]:
# Verwende +, -, *, /, % (Rest) und ** (Potenz)
print("3 + 2 =", 3 + 2)
print("10 - 4 =", 10 - 4)
print("6 * 7 =", 6 * 7)
# / (Division) â†’ normale Division, Ergebnis ist immer eine Dezimalzahl (Float)
print("8 / 2 =", 8 / 2)
# // (Ganzzahl-Division) â†’ teilt und rundet das Ergebnis nach unten ab
print("8 // 2 =", 8 // 2)
# % (Modulo) â†’ gibt den Rest der Division zurÃ¼ck
print("10 % 3 =", 10 % 3)
print("2 ** 3 =", 2 ** 3)

3 + 2 = 5
10 - 4 = 6
6 * 7 = 42
8 / 2 = 4.0
8 // 2 = 4
10 % 3 = 1
2 ** 3 = 8

### Ãœbung:

- Gib mit print() "9 / 2" und "9 // 2" und "9 % 2" aus und erklÃ¤ren den Unterschied.

- Rechnen mit Klammern (7 + (2 * 9)) // 5

- FÃ¼ge eigenen Text hinzu oder kombiniere mehrere Berechnungen in einer Zeile.

**Merke**

- Klammern bestimmen die Reihenfolge
- und * und / werden vor + und - ausgefÃ¼hrt

- // und % sind besonders nÃ¼tzlich fÃ¼r ZÃ¤hlprobleme, Aufteilungen und Indizes

# **Variables**
    
**Ziel:** Verstehen, wie Informationen gespeichert und mit Text kombiniert werden.
    
- Dein Info (Name: string, Beruf: string, Alter: Integer, Kinder: boolean, Jahre der Beruferfahrung: float)
- Variablen erstellen und print text verbunden mit der Variablen
- If-Else-Verzweigung

## ðŸ§© PersÃ¶nliche Daten und Datentypen in Python (Data Types)

In [3]:
# Erstelle Variablen zu dir selbst

# Text (String)
name = "Alex"
beruf = "Data Scientist"

# Ganze Zahl (Integer)
alter = 32

# Wahrheitswert (Boolean)
kinder = False

# Dezimalzahl (Float)
erfahrung = 5.5

print("Mein Name ist", name)
print("Ich arbeite als", beruf, "und habe", erfahrung, "Jahre Erfahrung.")
# Leere Zeile
print("")
# oder
print("oder")
# Leere Zeile
print("")
print("Mein Name ist " + name + ". " + "Ich bin " + str(alter) + " Jahre alt und habe " + str(erfahrung) + " Jahre Erfahrung. " + "Ich arbeite als " + beruf + ". " + "Habe ich Kinder? " + str(kinder))

Mein Name ist Alex
Ich arbeite als Data Scientist und habe 5.5 Jahre Erfahrung.

oder

Mein Name ist Alex. Ich bin 32 Jahre alt und habe 5.5 Jahre Erfahrung. Ich arbeite als Data Scientist. Habe ich Kinder? False

### Ãœbung: Bitte einen kurzen Text mit Erstellung der Variablen Ã¼ber dich schreiben und print().

name = "Max"

alter = 35

stadt = "Berlin"

interesse = "KÃ¼nstliche Intelligenz"

lernt_python = True

print(
  "Mein Name ist " + name + ". "
  + "Ich bin " + str(alter) + " Jahre alt. "
  + "Ich lebe in " + stadt + ". "
  + "Mein Interesse ist " + interesse + ". "
  + "Lerne ich gerade Python? " + str(lernt_python)
  )

## ðŸ§© If-Else-Verzweigung

In [4]:
# PrÃ¼fe, ob jemand berufserfahren ist
if erfahrung > 3:
    print(name, "ist erfahren!")
else:
    print(name, "ist noch AnfÃ¤nger.")

Alex ist erfahren!

In [5]:
if alter >= 18:
    print(name, "ist volljÃ¤hrig.")
else:
    print(name, "ist minderjÃ¤hrig.")

Alex ist volljÃ¤hrig.

### Ãœbung:

Erstelle eine If-Else-Verzweigung, die Ã¼berprÃ¼ft, ob eine Person Kinder hat.

- Wenn kinder ist True, gib aus: â€ž(Name) hat Kinder.â€œ

- Wenn kinder ist False, gib aus: â€ž(Name) hat keine Kinder.â€œ

# **Loop**

**Ziel:** Wiederholte Aufgaben mit for- und while-Schleifen ausfÃ¼hren.

- For Schleife

- While Schleife

## ðŸ§© For-Schleife

In [6]:
# Zahlen von 0 bis 5 ausgeben
for i in range(6):
    print("Zahl:", i)

Zahl: 0
Zahl: 1
Zahl: 2
Zahl: 3
Zahl: 4
Zahl: 5

In [7]:
# Zahlen von 1 bis 5 ausgeben
for i in range(1, 6):
    print("Zahl:", i)

Zahl: 1
Zahl: 2
Zahl: 3
Zahl: 4
Zahl: 5

**Zahlen von 0 bis einschlieÃŸlich 10 mit Schrittweite 2 ausgeben**

range(start, stop, step) erzeugt eine Zahlenfolge

- start = 0 â†’ Startwert

- stop = 10 â†’ 10 ist nicht enthalten

- step = 2 â†’ Schrittweite 2

In [8]:
# Zahlen von 0 bis einschlieÃŸlich 10 mit Schrittweite 2 ausgeben
for i in range(0, 10, 2) :
    print("Zahl:", i)

Zahl: 0
Zahl: 2
Zahl: 4
Zahl: 6
Zahl: 8

In [9]:
farben = ["Rot", "GrÃ¼n", "Blau"]
for farbe in farben:
    print("Ich mag die Farbe", farbe)

Ich mag die Farbe Rot
Ich mag die Farbe GrÃ¼n
Ich mag die Farbe Blau

### Ãœbung:

- Zahlen von 0 bis einschlieÃŸlich 19 mit Schrittweite 3 ausgeben

- Gibt print() mit einen Tierlist aus. List 3 Tiere, die du magst und print "Ich mag (Tier)"

## ðŸ§© While-Schleife

In [10]:
# Countdown von 5 bis 1
x = 5
while x > 0:
    print("Countdown:", x)
    x -= 1 # x = x-1
print("Start!")

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Start!

In [11]:
# Zahlenraten-Spiel
zahl = 3
versuch = 0

while versuch != zahl:
    versuch = int(input("Rate eine Zahl zwischen 1 und 5: "))
    if versuch == zahl:
        print("Richtig!")
    else:
        print("Falsch, versuch es nochmal.")

Rate eine Zahl zwischen 1 und 5: 3
Richtig!

# ðŸ§© **AbschlussÃ¼bung â€“ Dein persÃ¶nlicher Mini-Assistent**

**Ziel:** Verwende alles, was du gelernt hast: Variablen, Operatoren, If-Else, und Loops.

**Dauer:** ca. 15 min

### âœ… **Aufgabe**

Erstelle ein Programm, das:

1. persÃ¶nliche Informationen abfragt
2. eine kleine Entscheidung trifft (z. B. Empfehlung oder Feedback gibt)
3. eine Schleife nutzt, um den Benutzer mehrfach interagieren zu lassen

In [12]:
# --- Beispiel: Dein persÃ¶nlicher Assistent ---

print("ðŸ‘‹ Willkommen zu deinem Mini-Assistenten!")

# 1. Eingaben
name = input("Wie heiÃŸt du? ")
alter = int(input("Wie alt bist du? "))
beruf = input("Was ist dein Beruf? ")

# 2. Bedingungen
if alter < 18:
    print("Hallo", name + "!", "Du bist noch jung â€“ viel SpaÃŸ beim Lernen!")
elif alter < 30:
    print("Cool,", name + "!", "Ein perfektes Alter, um Python-Profi zu werden.")
else:
    print("Hi", name + "!", "Man lernt nie aus â€“ groÃŸartig, dass du dabei bist!")

# 3. Schleife
for i in range(1,4):
    print("ðŸ¤– Runde", i, ":", name, "arbeitet als", beruf)

print("âœ… Programm beendet â€“ gute Arbeit,", name + "!")

ðŸ‘‹ Willkommen zu deinem Mini-Assistenten!
Wie heiÃŸt du? Chiaoya
Wie alt bist du? 41
Was ist dein Beruf? Trainerin
Hi Chiaoya! Man lernt nie aus â€“ groÃŸartig, dass du dabei bist!
ðŸ¤– Runde 1 : Chiaoya arbeitet als Trainerin
ðŸ¤– Runde 2 : Chiaoya arbeitet als Trainerin
ðŸ¤– Runde 3 : Chiaoya arbeitet als Trainerin
âœ… Programm beendet â€“ gute Arbeit, Chiaoya!

# 11:30â€“12:30 | Arbeiten mit Daten (Pandas)

### ðŸ”¹ Lernziele

Nach dieser Einheit kÃ¶nnen Teilnehmende:

- Pandas importieren und ein DataFrame erstellen
- Daten aus einer CSV-Datei laden
- DatensÃ¤tze anzeigen, filtern und einfache Berechnungen durchfÃ¼hren
- Grundlegende Statistikfunktionen anwenden

### **Pandas importieren und DataFrame erstellen**

In [18]:
import pandas as pd

# Erstelle ein einfaches DataFrame
data = {
    "Name": ["Anna", "Ben", "Clara", "David", "Eva"],
    "Alter": [28, 35, 22, 41, 50],
    "Startjahr": [2020, 2015, 2023, 2010, 2020]
}

df = pd.DataFrame(data)
print(df)

    Name  Alter  Startjahr
0   Anna     28       2020
1    Ben     35       2015
2  Clara     22       2023
3  David     41       2010
4    Eva     50       2020

In [19]:
# Grundlegende Exploration
print(df.head())

    Name  Alter  Startjahr
0   Anna     28       2020
1    Ben     35       2015
2  Clara     22       2023
3  David     41       2010
4    Eva     50       2020

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       5 non-null      object
 1   Alter      5 non-null      int64
 2   Startjahr  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
None

In [21]:
print(df.describe())

          Alter    Startjahr
count   5.00000     5.000000
mean   35.20000  2017.600000
std    10.94075     5.128353
min    22.00000  2010.000000
25%    28.00000  2015.000000
50%    35.00000  2020.000000
75%    41.00000  2020.000000
max    50.00000  2023.000000

In [17]:
# Daten filtern
print(df[df["Alter"] > 30])

    Name  Alter  Startjahr
1    Ben     35       2015
3  David     41       2010
4    Eva     50       2020

In [22]:
# Neue Spalte hinzufÃ¼gen
df["Erfahrung_Jahre"] = 2025 - df["Startjahr"]
print(df)

    Name  Alter  Startjahr  Erfahrung_Jahre
0   Anna     28       2020                5
1    Ben     35       2015               10
2  Clara     22       2023                2
3  David     41       2010               15
4    Eva     50       2020                5

In [23]:
# Durchschnitt berechnen
print("Durchschnittsalter:", df["Alter"].mean())

Durchschnittsalter: 35.2

In [24]:
# Spalten sortieren
df.sort_values(by="Alter", ascending=False)

    Name  Alter  Startjahr  Erfahrung_Jahre
4    Eva     50       2020                5
3  David     41       2010               15
1    Ben     35       2015               10
0   Anna     28       2020                5
2  Clara     22       2023                2

In [25]:
# Spalten umbenennen
df.rename(columns={
    "Name": "Vorname",
    "Alter": "Alter_Jahre"
}, inplace=True)

In [26]:
# Tabellen anhÃ¤ngen (Append / Concat)
df_neu = pd.DataFrame({
    "Vorname": ["Eva", "Clara"],
    "Alter_Jahre": [29, 22],
    "Startjahr": [2024, 2023]
})

df_all = pd.concat([df, df_neu], ignore_index=True)
print(df_all)

  Vorname  Alter_Jahre  Startjahr  Erfahrung_Jahre
0    Anna           28       2020              5.0
1     Ben           35       2015             10.0
2   Clara           22       2023              2.0
3   David           41       2010             15.0
4     Eva           50       2020              5.0
5     Eva           29       2024              NaN
6   Clara           22       2023              NaN

In [27]:
# Duplikate anzeigen
df_all.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [28]:
# Duplikate entfernen
df_clean = df_all.drop_duplicates()

In [29]:
# Optional (nur nach Name)
df.drop_duplicates(subset=["Vorname"])

  Vorname  Alter_Jahre  Startjahr  Erfahrung_Jahre
0    Anna           28       2020                5
1     Ben           35       2015               10
2   Clara           22       2023                2
3   David           41       2010               15
4     Eva           50       2020                5

### Daten aus einer CSV-Datei laden

Lade die Datei people.csv aus Notion herunter und speichere sie auf deinem Desktop.

In [32]:
# CSV-Datei laden
df_people = pd.read_csv("https://raw.githubusercontent.com/chiaoya/Deep-Learning-Foundations-Python-Tensorflow/refs/heads/main/data/py_people.csv")

### Ãœbung

- Gib mit print() die ersten und die letzten 10 Zeilen aus

- Filtere die Daten: Personen, die jÃ¼nger als 40 Jahre sind

- Berechne den Durchschnitt des Alters

### ðŸ’¡ Optional Challenge

In [34]:
# Sortiere nach Alter
df.sort_values(by="Alter_Jahre", ascending=False)

  Vorname  Alter_Jahre  Startjahr  Erfahrung_Jahre
4     Eva           50       2020                5
3   David           41       2010               15
1     Ben           35       2015               10
0    Anna           28       2020                5
2   Clara           22       2023                2

In [36]:
# ZÃ¤hle, wie viele Personen jÃ¼nger als 30 sind
df_le30 = df[df["Alter_Jahre"] < 30]
anzahl_1 = len(df_le30)

print("Anzahl der Personen unter 30:", anzahl_1)

Anzahl der Personen unter 30: 2

In [37]:
# Alternative (noch kompakter)
anzahl_2 = (df["Alter_Jahre"] < 30).sum()
print("Anzahl der Personen unter 30:", anzahl_2)

Anzahl der Personen unter 30: 2

In [ ]:
# Speichere deine Ergebnisse mit
df.to_csv("mein_output.csv", index=False)

### ðŸ”— **Daten zusammenfÃ¼hren (Merge & Join in Pandas)**

**Ziel:**

Verstehen, wie man mehrere Tabellen anhand gemeinsamer Spalten zusammenfÃ¼hrt (wie in Excel VLOOKUP oder SQL JOIN).

**Wichtige Methode:**

pd.merge(df1, df2, on="gemeinsame_Spalte", **how**="inner")

`how` kann sein:

- `"inner"` â€“ nur gemeinsame Werte (Standard)
- `"left"` â€“ alle aus der linken Tabelle
- `"right"` â€“ alle aus der rechten Tabelle
- `"outer"` â€“ alle Werte, auch wenn sie nicht Ã¼bereinstimmen

In [38]:
import pandas as pd

# Erste Tabelle: Personen
personen = pd.DataFrame({
    "Name": ["Anna", "Ben", "Clara", "David"],
    "Abteilungs_ID": [1, 2, 2, 3]
})

# Zweite Tabelle: Abteilungen
abteilungen = pd.DataFrame({
    "Abteilungs_ID": [1, 2, 3],
    "Abteilung": ["HR", "Data", "Marketing"]
})

# Tabellen zusammenfÃ¼hren
merged = pd.merge(personen, abteilungen, on="Abteilungs_ID", how="inner")

print("âž¡ï¸ Ergebnis:")
print(merged)

âž¡ï¸ Ergebnis:
    Name  Abteilungs_ID  Abteilung
0   Anna              1         HR
1    Ben              2       Data
2  Clara              2       Data
3  David              3  Marketing

### **Aufgabe:**

**Dauer:** ca. 15 min

1. Erstelle zwei kleine Tabellen (DataFrame) und fÃ¼hre sie zusammen.

1ï¸âƒ£ **employees.csv**

| Name | Dept_ID | Jahr |
| --- | --- | --- |
| Alex | 1 | 2020 |
| Bea | 2 | 2019 |
| Carl | 3 | 2022 |
| Diana | 4 | 2021 |

#

2ï¸âƒ£ **departments.csv**

| Dept_ID | Department | Ort |
| --- | --- | --- |
| 1 | HR | Berlin |
| 2 | Data | Hamburg |
| 3 | Marketing | MÃ¼nchen |

2. Ãœbung mit vorbereiteten Daten

In [44]:
# Lade Daten Datei
employees = pd.read_csv("https://raw.githubusercontent.com/chiaoya/Deep-Learning-Foundations-Python-Tensorflow/refs/heads/main/data/py_employees.csv")
departments = pd.read_csv("https://raw.githubusercontent.com/chiaoya/Deep-Learning-Foundations-Python-Tensorflow/refs/heads/main/data/py_departments.csv")

In [45]:
# Erstelle die zwei Tabellen als zwei pandas DataFrame

# ZusammenfÃ¼hren
merged_df = pd.merge(employees, departments, on="Dept_ID", how="inner")

# Zeige erste Zeilen
print(merged_df.head())

# Optional: Berechne das Durchschnittsalter oder gruppiere nach Department

    Name  Dept_ID  Jahr Department        Ort
0   Alex        1  2020         HR     Berlin
1    Bea        2  2019       Data    Hamburg
2   Carl        3  2022  Marketing    MÃ¼nchen
3  Diana        4  2021    Finance  Frankfurt
4  Ethan        5  2018         IT  Stuttgart

### ðŸ’¡ Optional Challenge

1. Teste verschiedene Join-Typen und vergleichen

In [46]:
# how="left"
pd.merge(employees, departments, on="Dept_ID", how="left")

       Name  Dept_ID  Jahr  Department         Ort
0      Alex        1  2020          HR      Berlin
1       Bea        2  2019        Data     Hamburg
2      Carl        3  2022   Marketing     MÃ¼nchen
3     Diana        4  2021     Finance   Frankfurt
4     Ethan        5  2018          IT   Stuttgart
5     Fiona        6  2020  Operations  DÃ¼sseldorf
6    George        7  2017       Sales        KÃ¶ln
7    Hannah        8  2023       Legal     Leipzig
8       Ian        1  2019          HR      Berlin
9     Julia        2  2021        Data     Hamburg
10    Kevin        3  2016   Marketing     MÃ¼nchen
11    Laura        4  2022     Finance   Frankfurt
12     Mike        5  2020          IT   Stuttgart
13     Nina        6  2018  Operations  DÃ¼sseldorf
14    Oscar        7  2021       Sales        KÃ¶ln
15    Paula        8  2019       Legal     Leipzig
16  Quentin        1  2023          HR      Berlin
17     Rita        2  2017        Data     Hamburg
18      Sam        3  2020   Marketing     MÃ¼nchen
19     Tina        4  2022     Finance   Frankfurt
20      Uwe        5  2019          IT   Stuttgart
21     Vera        6  2021  Operations  DÃ¼sseldorf
22     Will        7  2018       Sales        KÃ¶ln
23    Xenia        8  2020       Legal     Leipzig
24    Yusuf        1  2016          HR      Berlin
25     Zara        2  2022        Data     Hamburg
26    Aaron        3  2023   Marketing     MÃ¼nchen
27   Bianca        4  2017     Finance   Frankfurt
28    Chris        5  2021          IT   Stuttgart
29  Daniela        6  2020  Operations  DÃ¼sseldorf

In [48]:
# how="outer"
pd.merge(employees, departments, on="Dept_ID", how="outer")

       Name  Dept_ID  Jahr  Department         Ort
0      Alex        1  2020          HR      Berlin
1       Ian        1  2019          HR      Berlin
2   Quentin        1  2023          HR      Berlin
3     Yusuf        1  2016          HR      Berlin
4       Bea        2  2019        Data     Hamburg
5     Julia        2  2021        Data     Hamburg
6      Rita        2  2017        Data     Hamburg
7      Zara        2  2022        Data     Hamburg
8      Carl        3  2022   Marketing     MÃ¼nchen
9     Kevin        3  2016   Marketing     MÃ¼nchen
10      Sam        3  2020   Marketing     MÃ¼nchen
11    Aaron        3  2023   Marketing     MÃ¼nchen
12    Diana        4  2021     Finance   Frankfurt
13    Laura        4  2022     Finance   Frankfurt
14     Tina        4  2022     Finance   Frankfurt
15   Bianca        4  2017     Finance   Frankfurt
16    Ethan        5  2018          IT   Stuttgart
17     Mike        5  2020          IT   Stuttgart
18      Uwe        5  2019          IT   Stuttgart
19    Chris        5  2021          IT   Stuttgart
20    Fiona        6  2020  Operations  DÃ¼sseldorf
21     Nina        6  2018  Operations  DÃ¼sseldorf
22     Vera        6  2021  Operations  DÃ¼sseldorf
23  Daniela        6  2020  Operations  DÃ¼sseldorf
24   George        7  2017       Sales        KÃ¶ln
25    Oscar        7  2021       Sales        KÃ¶ln
26     Will        7  2018       Sales        KÃ¶ln
27   Hannah        8  2023       Legal     Leipzig
28    Paula        8  2019       Legal     Leipzig
29    Xenia        8  2020       Legal     Leipzig

2. FÃ¼ge neue Spalten hinzu:

In [49]:
merged_df["Jahre_im_Unternehmen"] = 2025 - merged_df["Jahr"]

3. Gruppiere nach Department und berechne den Durchschnitt:

In [50]:
merged_df.groupby("Department")["Jahre_im_Unternehmen"].mean()

Department
Data          5.250000
Finance       4.500000
HR            5.500000
IT            5.500000
Legal         4.333333
Marketing     4.750000
Operations    5.250000
Sales         6.333333
Name: Jahre_im_Unternehmen, dtype: float64

### Diskussionsfragen:

- Was passiert bei â€žinnerâ€œ vs. â€žouterâ€œ Merge?
- Wo braucht man Merge im echten Leben? (Beispiel: Kundendaten + Bestellungen)