# 10:30‚Äì11:45 | Python-Grundlagen

## **Dein erstes Python Programm**
    
**Ziel:** Die Teilnehmenden lernen, wie man mit `print()` Text und Rechenergebnisse ausgibt.

- print ‚ÄúHello World!‚Äù
- Operators and print results

## üß© Hello World!

In [1]:
# Schreibe dein erstes Programm!
print("Hello World!")
print("Herzlich willkommen zum Python-Kurs!")

Hello World!
Herzlich willkommen zum Python-Kurs!

### √úbung:

- Gib mit print() deinen Namen aus
‚Üí **Beispiel:** print("Mein Name ist ‚Ä¶")

- Gib mit print() einen kurzen Satz aus, der deinen ersten Eindruck von Deep Learning beschreibt
‚Üí **Beispiel:**
print("Deep Learning klingt spannend, aber auch ein bisschen komplex.")

## üß© Operatoren ausprobieren

In [6]:
# Verwende +, -, *, /, ** (Potenz) und % (Rest)
print("3 + 2 =", 3 + 2)
print("10 - 4 =", 10 - 4)
print("6 * 7 =", 6 * 7)
# / (Division) ‚Üí normale Division, Ergebnis ist immer eine Dezimalzahl (Float)
print("8 / 2 =", 8 / 2)
# // (Ganzzahl-Division) ‚Üí teilt und rundet das Ergebnis nach unten ab
print("8 // 2 =", 8 // 2)
# % (Modulo) ‚Üí gibt den Rest der Division zur√ºck
print("10 % 3 =", 10 % 3)
print("2 ** 3 =", 2 ** 3)

3 + 2 = 5
10 - 4 = 6
6 * 7 = 42
8 / 2 = 4.0
8 // 2 = 4
2 ** 3 = 8

### √úbung:

- Gib mit print() "9 / 2" und "9 // 2" und "9 % 2" aus und erkl√§ren den Unterschied.

- Rechnen mit Klammern (7 + (2 * 9)) // 5

- F√ºge eigenen Text hinzu oder kombiniere mehrere Berechnungen in einer Zeile.

**Merke**

- Klammern bestimmen die Reihenfolge
- und * und / werden vor + und - ausgef√ºhrt

- // und % sind besonders n√ºtzlich f√ºr Z√§hlprobleme, Aufteilungen und Indizes

# **Vriables**
    
**Ziel:** Verstehen, wie Informationen gespeichert und mit Text kombiniert werden.
    
- Dein info (Name: string, Beruf: string, Alter: intergar, Kinder: boolean, Jahre der Beruferfahrung: float)
- Variablen erstellen und print text verbunden mit der Variablen
- If-Else-Verzweigung

## üß© Pers√∂nliche Daten und Datentypen in Python (Data Types)

In [15]:
# Erstelle Variablen zu dir selbst

# Text (String)
name = "Alex"
beruf = "Data Scientist"

# Ganze Zahl (Integer)
alter = 32

# Wahrheitswert (Boolean)
kinder = False

# Dezimalzahl (Float)
erfahrung = 5.5

print("Mein Name ist", name)
print("Ich arbeite als", beruf, "und habe", erfahrung, "Jahre Erfahrung.")
# Leere Zeile
print("")
# oder
print("oder")
# Leere Zeile
print("")
print("Mein Name ist " + name + ". " + "Ich bin " + str(alter) + " Jahre alt und habe " + str(erfahrung) + " Jahre Erfahrung. " + "Ich arbeite als " + beruf + ". " + "Habe ich Kinder? " + str(kinder))

Mein Name ist Alex
Ich arbeite als Data Scientist und habe 5.5 Jahre Erfahrung.

oder

Mein Name ist Alex. Ich bin 32 Jahre alt und habe 5.5 Jahre Erfahrung. Ich arbeite als Data Scientist. Habe ich Kinder? False

### √úbung: Bitte einen kurzen Text mit Erstellung der Variablen √ºber dich schreiben und print().

name = "Max"

alter = 35

stadt = "Berlin"

interesse = "K√ºnstliche Intelligenz"

lernt_python = True

print(
  "Mein Name ist " + name + ". "
  + "Ich bin " + str(alter) + " Jahre alt. "
  + "Ich lebe in " + stadt + ". "
  + "Mein Interesse ist " + interesse + ". "
  + "Lerne ich gerade Python? " + str(lernt_python)
  )

## üß© If-Else-Verzweigung

In [16]:
# Pr√ºfe, ob jemand berufserfahren ist
if erfahrung > 3:
    print(name, "ist erfahren!")
else:
    print(name, "ist noch Anf√§nger.")

Alex ist erfahren!

In [17]:
if alter >= 18:
    print(name, "ist vollj√§hrig.")
else:
    print(name, "ist minderj√§hrig.")

Alex ist vollj√§hrig.

### √úbung:

Erstelle eine If-Else-Verzweigung, die √ºberpr√ºft, ob eine Person Kinder hat.

- Wenn kinder == True, gib aus: ‚Äû(Name) hat Kinder.‚Äú

- Wenn kinder == False, gib aus: ‚Äû(Name) hat keine Kinder.‚Äú

# **Loop**

**Ziel:** Wiederholte Aufgaben mit for- und while-Schleifen ausf√ºhren.

- For Schleife

- While Schleife

## üß© For-Schleife

In [20]:
# Zahlen von 0 bis 5 ausgeben
for i in range(6):
    print("Zahl:", i)

Zahl: 0
Zahl: 1
Zahl: 2
Zahl: 3
Zahl: 4
Zahl: 5

In [19]:
# Zahlen von 1 bis 5 ausgeben
for i in range(1, 6):
    print("Zahl:", i)

Zahl: 1
Zahl: 2
Zahl: 3
Zahl: 4
Zahl: 5

**Zahlen von 0 bis einschlie√ülich 10 mit Schrittweite 2 ausgeben**

range(start, stop, step) erzeugt eine Zahlenfolge

- start = 0 ‚Üí Startwert

- stop = 10 ‚Üí 10 ist nicht enthalten

- step = 2 ‚Üí Schrittweite 2

In [22]:
# Zahlen von 0 bis einschlie√ülich 10 mit Schrittweite 2 ausgeben
for i in range(0, 10, 2) :
    print("Zahl:", i)

Zahl: 0
Zahl: 2
Zahl: 4
Zahl: 6
Zahl: 8

In [23]:
farben = ["Rot", "Gr√ºn", "Blau"]
for farbe in farben:
    print("Ich mag die Farbe", farbe)

Ich mag die Farbe Rot
Ich mag die Farbe Gr√ºn
Ich mag die Farbe Blau

### √úbung:

- Zahlen von 0 bis einschlie√ülich 19 mit Schrittweite 3 ausgeben

- Gibt print() mit einen Tierlist aus. List 3 Tiere, die du magst und print "Ich mag (Tier)"

## üß© While-Schleife

In [24]:
# Countdown von 5 bis 1
x = 5
while x > 0:
    print("Countdown:", x)
    x -= 1 # x = x-1
print("Start!")

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Start!

In [25]:
# Zahlenraten-Spiel
zahl = 3
versuch = 0

while versuch != zahl:
    versuch = int(input("Rate eine Zahl zwischen 1 und 5: "))
    if versuch == zahl:
        print("Richtig!")
    else:
        print("Falsch, versuch es nochmal.")

Rate eine Zahl zwischen 1 und 5: 6
Falsch, versuch es nochmal.
Rate eine Zahl zwischen 1 und 5: 3
Richtig!

# üß© **Abschluss√ºbung ‚Äì Dein pers√∂nlicher Mini-Assistent**

**Ziel:** Verwende alles, was du gelernt hast: Variablen, Operatoren, If-Else, und Loops.

**Dauer:** ca. 15 min

### ‚úÖ **Aufgabe**

Erstelle ein Programm, das:

1. pers√∂nliche Informationen abfragt
2. eine kleine Entscheidung trifft (z. B. Empfehlung oder Feedback gibt)
3. eine Schleife nutzt, um den Benutzer mehrfach interagieren zu lassen

In [5]:
# --- Beispiel: Dein pers√∂nlicher Assistent ---

print("üëã Willkommen zu deinem Mini-Assistenten!")

# 1. Eingaben
name = input("Wie hei√üt du? ")
alter = int(input("Wie alt bist du? "))
beruf = input("Was ist dein Beruf? ")

# 2. Bedingungen
if alter < 18:
    print("Hallo", name + "!", "Du bist noch jung ‚Äì viel Spa√ü beim Lernen!")
elif alter < 30:
    print("Cool,", name + "!", "Ein perfektes Alter, um Python-Profi zu werden.")
else:
    print("Hi", name + "!", "Man lernt nie aus ‚Äì gro√üartig, dass du dabei bist!")

# 3. Schleife
for i in range(3):
    print("ü§ñ Runde", i+1, ":", name, "arbeitet als", beruf)

print("‚úÖ Programm beendet ‚Äì gute Arbeit,", name + "!")

# 11:30‚Äì12:30 | Arbeiten mit Daten (Pandas)

### üîπ Lernziele

Nach dieser Einheit k√∂nnen Teilnehmende:

- Pandas importieren und ein DataFrame erstellen
- Daten aus einer CSV-Datei laden
- Datens√§tze anzeigen, filtern und einfache Berechnungen durchf√ºhren
- Grundlegende Statistikfunktionen anwenden

### **Pandas importieren und DataFrame erstellen**

In [30]:
import pandas as pd

# Erstelle ein einfaches DataFrame
data = {
    "Name": ["Anna", "Ben", "Clara", "David"],
    "Alter": [28, 35, 22, 41],
    "Startjahr": [2020, 2015, 2023, 2010]
}

df = pd.DataFrame(data)
print(df)

    Name  Alter  Startjahr
0   Anna     28       2020
1    Ben     35       2015
2  Clara     22       2023
3  David     41       2010

In [31]:
# Grundlegende Exploration
print(df.head())

    Name  Alter  Startjahr
0   Anna     28       2020
1    Ben     35       2015
2  Clara     22       2023
3  David     41       2010

In [32]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       4 non-null      object
 1   Alter      4 non-null      int64
 2   Startjahr  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes
None

In [33]:
print(df.describe())

           Alter    Startjahr
count   4.000000     4.000000
mean   31.500000  2017.000000
std     8.266398     5.715476
min    22.000000  2010.000000
25%    26.500000  2013.750000
50%    31.500000  2017.500000
75%    36.500000  2020.750000
max    41.000000  2023.000000

In [ ]:
# Daten filtern
print(df[df["Alter"] > 30])

In [ ]:
# Neue Spalte hinzuf√ºgen
df["Erfahrung_Jahre"] = 2025 - df["Startjahr"]
print(df)

In [ ]:
# Durchschnitt berechnen
print("Durchschnittsalter:", df["Alter"].mean())

In [ ]:
# Spalten sortieren
df.sort_values(by="Alter", ascending=False)

In [ ]:
# Spalten umbenennen
df.rename(columns={
    "Name": "Vorname",
    "Alter": "Alter_Jahre"
}, inplace=True)

In [ ]:
# Tabellen anh√§ngen (Append / Concat)
df_neu = pd.DataFrame({
    "Vorname": ["Eva", "Clara"],
    "Alter_Jahre": [29, 22],
    "Startjahr": [2024, 2023]
})

df_all = pd.concat([df, df_neu], ignore_index=True)
print(df_all)

In [ ]:
# Duplikate anzeigen
df_all.duplicated()

In [ ]:
# Duplikate entfernen
df_clean = df_all.drop_duplicates()

In [ ]:
# Optional (nur nach Name)
df.drop_duplicates(subset=["Name"])

### Daten aus einer CSV-Datei laden

Lade die Datei people.csv aus Notion herunter und speichere sie auf deinem Desktop.

In [ ]:
# CSV-Datei laden
df_people = pd.read_csv("people.csv")

### √úbung

- Gib mit print() die ersten und die letzten 10 Zeilen aus

- Filtere die Daten: Personen, die j√ºnger als 40 Jahre sind

- Berechne den Durchschnitt des Alters

### üí° Optional Challenge

In [34]:
# Sortiere nach Alter
df.sort_values(by="Alter", ascending=False)

    Name  Alter  Startjahr
3  David     41       2010
1    Ben     35       2015
0   Anna     28       2020
2  Clara     22       2023

In [1]:
# Z√§hle, wie viele Personen j√ºnger als 30 sind
df_le30 = df[df["Alter"] < 30]
anzahl_1 = len(df_le30)

print("Anzahl der Personen unter 30:", anzahl_1)

In [3]:
# Alternative (noch kompakter)
anzahl_2 = (df["Alter"] < 30).sum()
print("Anzahl der Personen unter 30:", anzahl_2)

In [ ]:
# Speichere deine Ergebnisse mit
df.to_csv("mein_output.csv", index=False)

### üîó **Daten zusammenf√ºhren (Merge & Join in Pandas)**

**Ziel:**

Verstehen, wie man mehrere Tabellen anhand gemeinsamer Spalten zusammenf√ºhrt (wie in Excel VLOOKUP oder SQL JOIN).

**Wichtige Methode:**

pd.merge(df1, df2, on="gemeinsame_Spalte", **how**="inner")

`how` kann sein:

- `"inner"` ‚Äì nur gemeinsame Werte (Standard)
- `"left"` ‚Äì alle aus der linken Tabelle
- `"right"` ‚Äì alle aus der rechten Tabelle
- `"outer"` ‚Äì alle Werte, auch wenn sie nicht √ºbereinstimmen

In [4]:
import pandas as pd

# Erste Tabelle: Personen
personen = pd.DataFrame({
    "Name": ["Anna", "Ben", "Clara", "David"],
    "Abteilungs_ID": [1, 2, 2, 3]
})

# Zweite Tabelle: Abteilungen
abteilungen = pd.DataFrame({
    "Abteilungs_ID": [1, 2, 3],
    "Abteilung": ["HR", "Data", "Marketing"]
})

# Tabellen zusammenf√ºhren
merged = pd.merge(personen, abteilungen, on="Abteilungs_ID", how="inner")

print("‚û°Ô∏è Ergebnis:")
print(merged)

‚û°Ô∏è Ergebnis:
    Name  Abteilungs_ID  Abteilung
0   Anna              1         HR
1    Ben              2       Data
2  Clara              2       Data
3  David              3  Marketing

### **Aufgabe:**

**Dauer:** ca. 15 min

Erstelle zwei kleine Tabellen und f√ºhre sie zusammen.

1Ô∏è‚É£ **employees.csv**

| Name | Dept_ID | Jahr |
| --- | --- | --- |
| Alex | 1 | 2020 |
| Bea | 2 | 2019 |
| Carl | 3 | 2022 |

#

2Ô∏è‚É£ **departments.csv**

| Dept_ID | Department | Ort |
| --- | --- | --- |
| 1 | HR | Berlin |
| 2 | Data | Hamburg |
| 3 | Marketing | M√ºnchen |

In [ ]:
# Erstelle die zwei Tabelle als zwei pandas DataFrame

# Zusammenf√ºhren
merged_df = pd.merge(employees, departments, on="Dept_ID", how="inner")

# Zeige erste Zeilen
print(merged_df.head())

# Optional: Berechne das Durchschnittsalter oder gruppiere nach Department

### üí° Optional Challenge

1. Teste verschiedene Join-Typen und vergleichen

In [ ]:
# how="left"
pd.merge(employees, departments, on="Dept_ID", how="left")

In [ ]:
# how="outer"
pd.merge(employees, departments, on="Dept_ID", how="outer")

2. F√ºge neue Spalten hinzu:

In [ ]:
merged_df["Jahre_im_Unternehmen"] = 2025 - merged_df["Jahr"]

3. Gruppiere nach Department und berechne den Durchschnitt:

In [ ]:
merged_df.groupby("Department")["Jahre_im_Unternehmen"].mean()

### Diskussionsfragen:

- Was passiert bei ‚Äûinner‚Äú vs. ‚Äûouter‚Äú Merge?
- Wo braucht man Merge im echten Leben? (Beispiel: Kundendaten + Bestellungen)